@charset "utf-8";

img {
	max-width: 100%;
}

#wrap {
  width: 960px;
  margin: 0 auto;
}

#sw {
	display: flex;
}

#sw-L,
#sw-R {
  display: flex;
  border: solid 6px darkgray;
}


.switch {
	width: 100px;
	height: 100px;
  border: solid 3px gray;
  cursor: pointer;
}

#name {
  position: relative;
  width: 70px;
  height: 120px;
}

#name-off,
#name-on {
  position: absolute;
}

#name-off {
  top: 10px;
  right: 10px;
}

#name-on {
  bottom: 10px;
  right: 10px;
}

#bit-area-inner {
  display: flex;
}

#bit-title {
  width: 70px;
  line-height: 60px;
  text-align: right;
}

.bit {
  width: 100px;
  padding: 5px;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

#hex-area {
	display: flex;
}

#hex-title {
  width: 70px;
  line-height: 144px;
  text-align: right;
}

.hex {
	width: 450px;
	font-size: 6em;
	font-weight: bold;
	text-align: center;
}

#dec-area-inner {
  display: flex;
}

#dec {
  width: 900px;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  color: blue;
}

#dec-title {
  width: 70px;
  line-height: 48px;
  text-align: right;
}

#showBitBtn {
  display: block;
  width: 100px;
  height: 50px;
  border-width: 5px;
  margin-bottom: 10px;
}

#showDecBtn {
  display: block;
  width: 100px;
  height: 50px;
  border-width: 5px;
}



/* 修正時刻: Sat Jan 22 20:42:58 2022 */
